   <section>
    <article>


        <!--- Code -->
        <div>
            <style type="text/css">

/*.app-content
{
    padding: 0px !important;
}
            .app-header,.app-sidebar
            {
                display: none;
            }*/
            .nomar
{
    margin: 0px;
}
                .adp-placemark,.adp-directions , .adp-legal
  {
display: none;
  }
.adp-summary {
      color: #00326a;
    font-size: 16px;
    margin-top: 1px;
    font-weight: 800;
    margin-left: 7px;
}
  .icon-box {

    position: static;
    padding: 0px;
         margin-top: 20px;
    float: left;
}

.icon-box .ibox-icon {

    position: static;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;}
    .bggrow
    {
            background: #deecff;

    padding-bottom: 50px;

    }    .bgg
    {

          margin-left: 3%;
          background: #c8daf1;
              border-radius: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.28);
    }

    .icon-box .ibox-icon i, .icon-box .ibox-icon img
    {
    background-color: #0c4c8c;
    font-style: normal;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
    }
   .font17
    {
        font-size: 15px;
    color: #00326a;
    font-weight: 500;
    text-transform: capitalize;
    }   .font17a
    {

                  font-size: 17px;
    color: #00326a;
    font-weight: 600;
    }
.fnh1
{
        text-align: left;
    margin-top: 20px;
    margin-left: 40px;
}
.mg {
   width: 50px;
    height: 50px;
    border: solid;
    border-radius: 50%;
    margin-top: 7px;
        float: left;

  }
.ics
{
        margin-top: -3px;
color: #00326a !important;

}
  .pg
  {
    float: left;
    padding-top: 2%;
    padding-left: 14px;
  }

md-checkbox.md-default-theme:not(.md-checked) .md-icon, md-checkbox:not(.md-checked) .md-icon {
    border-color: white;
}
            </style>

     <md-content>


                <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="">



   <md-toolbar class="backhead">
      <div class="md-toolbar-tools">


                          <md-button class="md-icon-button" ng-click="ToggleTrackingView()">
                    <md-tooltip>
                        Go Back
                    </md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
        <h2 flex md-truncate>Tasks #304 <!-- - No.1, 1st floor, MRK Arcade, 200 Feet Radial ... --></h2>


              <md-checkbox  style="font-size: 16px;" style="    margin: 0px !important;">
                            Traffic


                </md-checkbox>
                <md-button>

                    <md-icon>mode_edit</md-icon>
                </md-button>


      </div>
    </md-toolbar>

<style type="text/css">
    .p2
    {
            margin: 0px;

   /* line-height: 10px;*/
    font-size: 17px;
    }
    .ti
    {
   /*   margin-bottom: 20px;*/
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    }
    .mg
    {
    width: 75px;
    height: 75px;
    border: solid;
    border-radius: 50%;
    margin-top: 3px;
    float: left;
        border-color: rgba(193, 158, 158, 0.34);
    }
    .hedt
    {
            font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    }

    .cions
    {
            display: block;
    font-size: 35px;
    text-align: center;
    width: 100%;
        margin-bottom: 20px;

    }
    .bggrow{
          padding-top: 20px;
          padding-bottom:  20px;
          border-bottom: #c9d3de solid;
    }

    .ts {
        font-weight: 400 !important;
    font-size: 14px !important;
    }
</style>
         <div class="col-md-12 bggrow nopad" >
                        <div class="col-md-3 nopad" >

                                              <div class="col-md-8" >
                        <p class="p2 ti"> Driver </p>

                        <p class="p2"> Kalidass </p>
                        <p class="p2"> +91 9524609638 </p>
                        <p class="p2"> dass.kali14@gmail.comdsdsdsdsds</p>


                        </div>

                             <div class="col-md-4" >
                                                <img class="mg" ng-src="assets/images/canva-man-delivering-boxes-on-scooter-icon-MAB60VR-Abk.png" class="md-avatar" >

                             </div>
                        </div>

                        <div class="col-md-2" >


                        </div>


                          <div class="col-md-7 nopad" >

                                                   <div class="col-md-3 " >

                            <p class="hedt"> Status </p>
                         <md-icon class="cions" style="    color: #3f80ce;">
                         multiline_chart
                         </md-icon>
                                           <p class="p2 text-center"> On Progress   </p>

                        </div>
                         <div class="col-md-3 " >

                            <p class="hedt"> Speed </p>
                         <md-icon class="cions" style="    color: #ef0c0c;">
                         slow_motion_video
                         </md-icon>
                                           <p class="p2 text-center"> 50 Km / Hours </p>

                        </div>
                        <div class="col-md-3" >
                            <p class="hedt"> Battery </p>
                         <md-icon class="cions" style="color: #21d221;">
                         battery_std
                         </md-icon>
                                      <p class="p2 text-center">100%  </p>

                        </div>

                             <div class="col-md-3" >
                            <p class="hedt"> Driver </p>
                         <md-icon class="cions" style="color: rgb(0, 50, 106);">
                         directions_walk
                         </md-icon>
                                           <p class="p2 text-center"> Busy (5 Tasks)</p>
                             </div>

                         </div>
            </div>


         <div class="col-md-12 bggrow nopad" >

         <div class="col-md-5 nopad" >

                               <div class="col-md-12" >
         <p class="p2 ti"> Customer </p>

         <p class="p2"> W2ssolutions </p>
         <p class="p2"> +91 9524609638 </p>
         <p >No.1, 1st floor, MRK Arcade, 200 Feet Radial Road, Thoraipakkam, Chennai, Tamil Nadu 600097 </p>




         </div>

         </div>
                                                   <div class="col-md-2 nopad" >

                            <p class="hedt ts">Started (10:40 PM)</p>
                         <md-icon class="cions" style="     font-size: 60px;
    height: 60px;
    transform: rotate(7deg);   color: #3f80ce;">
                         flag
                         </md-icon>

                        </div>


                                  <div class="col-md-3 nopad" >


   <p class="p2 text-center ts" style="    padding-top: 25px;"> ETA : About 5 Hours  30 Mins </p>
<md-slider ng-model="disabled2" ng-disabled="true" step="3" md-discrete min="0" max="10" aria-label="Disabled discrete 2"></md-slider>


                             </div>


                                                                        <div class="col-md-2 nopad" >

                             <p class="hedt ts">Destination (10:40 PM)</p>
                         <md-icon class="cions" style="    font-size: 60px;
    height: 60px;
    transform: rotate(7deg);   color: #00326a">
                         flag
                         </md-icon>
                                           <p class="p2 text-center " style="    font-size: 12px !important;">



<!-- No.1, 1st floor, MRK Arcade, 200 Feet Radial Road, Thoraipakkam, Chennai, Tamil Nadu 600097
 -->
                                           </p>

                        </div>

            </div>


                    <md-card-content layout="row" layout-align="space-between" style="    padding: 0px;">
                        <div class="col-md-12 nopad">
                            <section class="box box-default" style="height: 50vh !important;margin-bottom: 0px; ">
                                <div class="box-body" style="height: 50vh;">

   <gm-map center="[13.0346206,80.2526171]" class="ui-map"  options="{zoom: 20}">

                                    </gm-map>
                                </div>
                            </section>
                        </div>
                    </md-card-content>
                </md-card>
            </md-content>
        </div>
    </article>
</section>
