<section class="container-fluid with-maxwidth chapter">
    <div class="box-body">

        <div class="col-md-12 nopad" ng-hide="showform">
            <div class="right addbtn">
                <md-button class="md-raised btn-w-md md-accent"  ng-click="showTabDialog()">
                    Add {{title}}
                </md-button>
            </div>
        </div>
    </div>
<md-card>
    <md-content flex="" layout="column">
        <md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
            <div class="md-toolbar-tools">
                <span>
                    {{title}} Info
                </span>
                <span flex="">
                </span>
                <md-button class="md-icon-button" ng-click="resettable()">
                    <md-tooltip>
                        Refresh
                    </md-tooltip>
                    <md-icon>
                        refresh
                    </md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="activefilter=!activefilter;showsearch = false">
                    <md-tooltip>
                        Filters
                    </md-tooltip>
                    <md-icon>
                        filter_list
                    </md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="showsearch = !showsearch;activefilter = false">
                    <md-tooltip>
                        Search
                    </md-tooltip>
                    <md-icon>
                        search
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar aria-hidden="false" class="md-table-toolbar md-default" ng-show="showsearch">
            <div class="md-toolbar-tools">
                <form class="flex">
                    <md-input-container class="md-block" flex="100">
                        <input class="searchmrg" ng-model="searchFish" placeholder="Search">
                        </input>
                    </md-input-container>
                </form>
            </div>
        </md-toolbar>
        <md-whiteframe layout="row" ng-repeat="single in multisearch" ng-show="activefilter">
            <div class="md-toolbar-tools mrg1">
                <md-input-container flex="40">
                    <label>
                        Column
                    </label>
                    <md-select ng-change="updateDataTable()" ng-model="single.column">
                        <md-optgroup label="Column">
                            <md-option ng-repeat="column in autocolumn" ng-value="column.name">
                                {{column.display}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block searchmrg" flex="40">
                    <label>
                        Search
                    </label>
                    <input ng-change="updateDataTable()" ng-model="single.ident">
                    </input>
                </md-input-container>
                <md-button class="md-raised right wid btn-w-md md-warn h40" ng-click="deleteRow(single.id)" ng-disabled="multisearch.length == 1" type="button">
                    <md-tooltip>
                        Remove Filter
                    </md-tooltip>
                    Remove
                </md-button>
                <md-button class="md-raised right wid btn-w-md md-primary h40" ng-click="addRow()">
                    <md-tooltip>
                        Add Filter
                    </md-tooltip>
                    Add
                </md-button>
            </div>
        </md-whiteframe>
        <md-table-container>
            <table md-table="">
                <md-progress-linear md-mode="indeterminate" ng-show="!wwstatus">
                </md-progress-linear>
                <thead md-head="" md-order="query.order">
                    <tr md-row="">
                        <th md-column="" md-order-by="{{column.name}}" ng-repeat="column in autocolumn">
                            <span>
                                {{column.display}}
                            </span>
                        </th>
                        <th md-column="">
                            <span>
                                Actions
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody md-body="">
                    <tr md-auto-select="" md-row="" md-select="row" md-select-id="name" ng-repeat="vim in datatable.data |filter : searchFish | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                        <td md-cell="">
                            {{vim.id}}
                        </td>
                        <td md-cell="">
                            {{vim.schedule_date_time}}
                        </td>
                        <td md-cell="">
                           {{vim.allocated_emp}}
                        </td>

                       <td md-cell="">
                           {{vim.cust_name}}
                        </td>

                         <td md-cell="">
                           {{vim.cust_address | truncate :18}}
                        </td>
                         <td md-cell="">
                           {{vim.status}}
                        </td>
                        <td md-cell="">
                            <md-button aria-label="mode_edit" class="md-icon-button md-primary" data-ng-click="showTabDialog('',10,vim.id)">
                                <md-tooltip>
                                    Edit
                                </md-tooltip>
                                <md-icon class="material-icons">
                                    mode_edit
                                </md-icon>
                            </md-button>
                            <md-button aria-label="visibility" class="md-icon-button" data-ng-click="view(vim.id)">
                                <md-tooltip>
                                    View
                                </md-tooltip>
                                <md-icon class="material-icons">
                                    visibility
                                </md-icon>
                            </md-button>
                            <md-button aria-label="delete_forever" class="md-icon-button md-warn" data-ng-click="delete(vim.id)">
                                <md-tooltip>
                                    Delete
                                </md-tooltip>
                                <md-icon class="material-icons">
                                    delete_forever
                                </md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-boundary-links="options.boundaryLinks" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-page-select="options.pageSelect" md-total="{{datatable.data.length}}">
        </md-table-pagination>
    </md-content>
</md-card>

</section>
