
<md-dialog aria-label="File Upload" style="min-width: 80%">
    <form ng-cloak="">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Files
                </h2>
                <span flex="">
                </span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>
                        close
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row" ng-hide="readonly">

                    <div class="col-md-10">
                        <lf-ng-md-file-input lf-api="lfApi" lf-files="files" lf-filesize="20MB" lf-maxcount="5" lf-totalsize="50MB" multiple="" name="files">
                        </lf-ng-md-file-input>
                    </div>
                    <div class="col-md-2">
                        <md-button class="md-raised md-primary" data-ng-click="upload()" type="button" ng-disabled="status == 'Uploading'">
                            {{status}}
                        </md-button>
                    </div>
                </div>
                <div class="row col-md-12 nopad">
                    <div class="col-lg-4 col-md-4 pad8" ng-repeat="file in data.uploads  track by $index">
                        <md-card>
                            <div class="md-media-lg card-media mdobj ">
                                <a download="{{file}}" href="{{file}}" title="File">
                                    <img alt="File" ng-src="{{file}}" onerror="globalapp.imgerror(this,event)" style="width: 100%;height: 100%;"/>
                                </a>
                            </div>
                            <md-card-actions layout="row" layout-align="end center" ng-hide="readonly">
                                <md-button ng-click="newfile($index)" >
                                    Remove File
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
