
<section class="container-fluid with-maxwidth chapter">
    <div class="box-body">
        <div class="col-md-12 nopad" ng-show="showform">
            <div class="right actionbtn">
                <md-button class="md-raised btn-w-md md-primary" ng-click="submit_form()" type="button">
                    {{ add ? 'Save' : 'Update' }}
                </md-button>
                <md-button class="md-raised btn-w-md md-primary" ng-click="closeform()" type="button">
                    Close
                </md-button>
            </div>
        </div>
        <div class="col-md-12 nopad" ng-hide="showform">
            <div class="right addbtn">
                <md-button class="md-raised btn-w-md md-accent" ng-click="addbtn()">
                    Add {{title}}
                </md-button>
            </div>
        </div>
    </div>
    <article class="article" ng-show="showform">
        <div class="box box-default">
            <div class="box-body form-validation">
                <form class="md-form-login form-validation" name="data_form" novalidate="" unsaved-warning-form="">
                    <!--         'open_dt',
        'close_dt',
        'cust_id',
        'desc',
        'uploads',
        'cases_info_id',
        'taken_by',
        'closed_by',
        'status' -->


                    <div class="col-md-12">
                        <div class="col-md-3 nopad">
                            <md-input-container class="md-block">
                                <label>
                                    Open Date
                                </label>
                                <md-datepicker class="md-block" md-placeholder="Enter date" ng-model="data.open_dt" required="">
                                </md-datepicker>
                            </md-input-container>
                        </div>
                         <div class="col-md-3">
                            <md-input-container class="md-block">
                                <label>
                                    Customer
                                </label>
                                <md-select aria-label="select" ng-model="data.cust_id" required="">
                                    <md-option ng-repeat="user in  customers" value="{{user.id}}">
                                        {{user.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                       
                        <div class="col-md-3">
                            <md-button class="md-raised btn-w-md " data-ng-click="addNewChoice()" type="button">
                                Add Case Info
                            </md-button>
                        </div>
                        <div class="col-md-12 nopad" data-ng-repeat="case_info in data.cases_info_detail track by $index">
<span ng-if="case_info.case_type == 0">
    <div class="col-md-2">
        <md-input-container class="md-block">
            <label>
                Type
            </label>
            <md-select aria-label="select" ng-model="case_info.case_type" required="">
                <md-option ng-repeat="n in  case_types track by $index" value="{{$index}}">
                    {{n}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div class="col-md-3">
        <md-input-container class="md-block">
            <label>
                Batch details
            </label>
            <input ng-model="case_info.batch_info" type="text"/>
        </md-input-container>
    </div>
    <div class="col-md-2">
        <md-input-container class="md-block">
            <label>
                Order no
            </label>
            <md-select aria-label="select" ng-model="case_info.order_no" required="">
                <md-option ng-repeat="n in  orders_data  |  filter:{ cust_id: data.cust_id} track by $index " value="{{n.order_booking_id}}">
                    {{n.order_booking_id}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
        <div class="col-md-2">
        <md-input-container class="md-block">
            <label>
                Product
            </label>
            <md-select aria-label="select" ng-model="case_info.product_id" required="">
                <md-option ng-repeat="n in  product " value="{{n.product_id}}">
                    {{n.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="col-md-3">
        <md-input-container class="md-block">
            <label>
                Delivery no
            </label>
            <input ng-model="case_info.delivery_no" type="text"/>
        </md-input-container>
    </div>





    <div class="col-md-9">
           <md-input-container class="md-block">
                            <label>Comments</label>
                            <textarea  md-maxlength="1500"
                            ng-model="case_info.desc" md-select-on-focus></textarea>
                        </md-input-container>

    </div>


    <div class="col-md-1">
        <md-button class="md-raised md-primary" data-ng-click="showTabDialog(case_info.uploads,$index)" type="button">
            Files
        </md-button>
    </div>
    <div class="col-md-1">
        <md-button class="md-raised md-primary" data-ng-click="removeChoice($index)" type="button">
            X
        </md-button>
    </div>
</span>


<span ng-if="case_info.case_type == 1" >
    <div class="col-md-12 nopad">
        <div class="col-md-2">
            <md-input-container class="md-block">
                <label>
                    Type
                </label>
                <md-select aria-label="select" ng-model="case_info.case_type" required="">
                    <md-option ng-repeat="n in  case_types track by $index" value="{{$index}}">
                        {{n}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-md-3 nopad">
            <md-input-container class="md-block">
                <label>
                    Delivered date
                </label>
                <md-datepicker class="md-block" required md-placeholder="Enter date" ng-model="case_info.delivery_date">
                </md-datepicker>
            </md-input-container>
        </div>
        <div class="col-md-3">
            <md-input-container class="md-block">
                <label>
                    Delivered from
                </label>
                <input ng-model="case_info.deliver_from" type="text">
                </input>
            </md-input-container>
        </div>
        <div class="col-md-3">
            <md-input-container class="md-block">
                <label>
                    Delivery no
                </label>
                <input ng-model="case_info.delivery_no" required type="text">
                </input>
            </md-input-container>
        </div>
    </div>
    <div class="col-md-12 nopad">
        <div class="col-md-3">
            <md-input-container class="md-block">
                <label>
                    Site Info
                </label>
                <input ng-model="case_info.site_info" type="text">
                </input>
            </md-input-container>
        </div>
        <div class="col-md-3">
            <md-input-container class="md-block">
                <label>
                    Order no
                </label>
                <md-select aria-label="select" ng-model="case_info.order_no" required="">
                    <md-option  ng-repeat="n in  orders_data  |  filter:{ cust_id: data.cust_id} track by $index "  value="{{n.order_booking_id}}">
                        {{n.order_booking_id}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
            <div class="col-md-3">
         <md-input-container class="md-block">
                            <label>Comments</label>
                            <textarea  md-maxlength="1500"
                            ng-model="case_info.desc" md-select-on-focus></textarea>
                        </md-input-container>

    </div>
        <div class="col-md-1">
            <md-button class="md-raised md-primary" data-ng-click="showTabDialog(case_info.uploads,$index)" type="button">
                Files
            </md-button>
        </div>
        <div class="col-md-1">
            <md-button class="md-raised md-primary" data-ng-click="removeChoice($index)" type="button">
                X
            </md-button>
        </div>
    </div>
</span>

<span ng-if="case_info.case_type == 2" >
    <div class="col-md-2">
        <md-input-container class="md-block">
            <label>
                Type
            </label>
            <md-select aria-label="select" ng-model="case_info.case_type" required="">
                <md-option ng-repeat="n in  case_types track by $index" value="{{$index}}">
                    {{n}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="col-md-3 nopad">
        <md-input-container class="md-block">
            <label>
                Invoice date
            </label>
            <md-datepicker class="md-block" md-placeholder="Enter date" required ng-model="case_info.invoice_date">
            </md-datepicker>
        </md-input-container>
    </div>

    <div class="col-md-5">
        <md-input-container class="md-block">
            <label>
                Invoice no
            </label>
            <input ng-model="case_info.invoice_no" type="text" required/>
        </md-input-container>
    </div>

        <div class="col-md-9">
     <md-input-container class="md-block">
                            <label>Comments</label>
                            <textarea  md-maxlength="1500"
                            ng-model="case_info.desc" md-select-on-focus></textarea>
                        </md-input-container>

    </div>

    <div class="col-md-1">
        <md-button class="md-raised md-primary" data-ng-click="showTabDialog(case_info.uploads,$index)" type="button">
            Files
        </md-button>
    </div>
    <div class="col-md-1">
        <md-button class="md-raised md-primary" data-ng-click="removeChoice($index)" type="button">
            X
        </md-button>
    </div>
</span>

<span ng-if="case_info.case_type == 3" >
    <div class="col-md-2">
        <md-input-container class="md-block">
            <label>
                Type
            </label>
            <md-select aria-label="select" ng-model="case_info.case_type" required="">
                <md-option ng-repeat="n in  case_types track by $index" value="{{$index}}">
                    {{n}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="col-md-4">
        <md-input-container class="md-block">
            <label>
                Order no
            </label>
            <md-select aria-label="select" ng-model="case_info.order_no" required="">
                <md-option  ng-repeat="n in  orders_data  |  filter:{ cust_id: data.cust_id} track by $index " value="{{n.order_booking_id}}">
                    {{n.order_booking_id}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="col-md-4">
        <md-input-container class="md-block">
            <label>
                Delivery no
            </label>
            <input ng-model="case_info.delivery_no" required type="text">
            </input>
        </md-input-container>
    </div>

        <div class="col-md-9">
           <md-input-container class="md-block">
                            <label>Comments</label>
                            <textarea  md-maxlength="1500"
                            ng-model="case_info.desc" md-select-on-focus></textarea>
                        </md-input-container>

    </div>
    <div class="col-md-1">
        <md-button class="md-raised md-primary" data-ng-click="showTabDialog(case_info.uploads,$index)" type="button">
            Files
        </md-button>
    </div>
    <div class="col-md-1">
        <md-button class="md-raised md-primary" data-ng-click="removeChoice($index)" type="button">
            X
        </md-button>
    </div>
</span>

<span ng-if="case_info.case_type == 4" >
    <div class="col-md-2">
        <md-input-container class="md-block">
            <label>
                Type
            </label>
            <md-select aria-label="select" ng-model="case_info.case_type" required="">
                <md-option ng-repeat="n in  case_types track by $index" value="{{$index}}">
                    {{n}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
        <div class="col-md-7">
       <md-input-container class="md-block">
                            <label>Comments</label>
                            <textarea  md-maxlength="1500"
                            ng-model="case_info.desc" md-select-on-focus></textarea>
                        </md-input-container>

    </div>
    <div class="col-md-1">
        <md-button class="md-raised md-primary" data-ng-click="showTabDialog(case_info.uploads,$index)" type="button">
            Files
        </md-button>
    </div>
    <div class="col-md-1">
        <md-button class="md-raised md-primary" data-ng-click="removeChoice($index)" type="button">
            X
        </md-button>
    </div>
</span>
                        </div>
                         </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>
                                Report Taken By
                            </label>
                            <md-select aria-label="select" ng-model="data.taken_by" required="">
                                <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                    {{user.last_name}} {{user.first_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>
                                Status
                            </label>
                            <md-select aria-label="select" ng-model="data.status" required="">
                                <md-option ng-repeat="n in  case_status track by $index" value="{{$index}}">
                                    {{n}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
    
                              <div class="col-md-3 nopad">
                            <md-input-container class="md-block">
                                <label>
                                    Close Date
                                </label>
                                <md-datepicker class="md-block" md-placeholder="Enter date" ng-model="data.close_dt">
                                </md-datepicker>
                            </md-input-container>
                        </div>
                            <div class="col-md-3" ng-hide="is_manager">
                        <md-input-container class="md-block">
                            <label>
                                Closed By
                            </label>
                            <md-select aria-label="select" ng-model="data.closed_by">
                                <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                    {{user.last_name}} {{user.first_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <!-- 
        <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>
                                Desc
                            </label>
                            <input ng-model="data.desc" type="text">
                            </input>
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block">
                            <label>Problem Quantiy</label>
                            <input ng-model="data.prob_quantiy" required type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block">
                            <label>Site Info</label>
                            <input ng-model="data.site_info" required type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block">
                            <label>Delivery Info</label>
                            <input ng-model="data.del_from" required type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block">
                            <label>Batch Details</label>
                            <input ng-model="data.batch_details" required type="text">
                        </md-input-container>
                    </div>

                    <div class="col-md-4">
                        <md-input-container class="md-block">
                            <label>Invoice Ref</label>
                            <input ng-model="data.invoice_ref" required type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block">
                            <label>Invoice Date</label>
                            <md-datepicker class="md-block" required ng-model="data.invoice_date" md-placeholder="Enter date"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                        <md-input-container class="md-block">
                            <label> Product ID</label>
                            <md-select ng-model="data.pro_id" aria-label="select" required>
                                <md-option ng-repeat="user in  product" value="{{user.product_id}}"> {{user.name}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                   
                  
                      <div class="col-md-4">
                        <md-input-container class="md-block">
                            <label>Types</label>
                            <md-select ng-model="data.types" aria-label="select" required>
                                <md-option ng-repeat="n in  case_types track by $index" value="{{$index}}"> {{n}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

 -->
         <!--            <div class="col-md-12 nopad">
                        <div class="col-lg-4 col-md-4 pad8" ng-repeat="file in data.uploads  track by $index">
                            <md-card>
                                <div class="md-media-lg card-media mdobj ">
                                    <a download="{{file}}" href="{{file}}" title="File">
                                        <img alt="File" ng-src="{{file}}" onerror="globalapp.imgerror(this,event)" style="width: 100%;height: 100%;">
                                        </img>
                                    </a>
                                </div>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="FileDelete($index)">
                                        Remove File
                                    </md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                    <div class="col-md-12 nopad">
                        <h5>
                            {{title}} File Upload
                        </h5>
                    </div>
                    <div class="col-md-12 nopad">
                        <lf-ng-md-file-input lf-api="lfApi" lf-files="files" lf-filesize="10MB" lf-maxcount="5" lf-totalsize="20MB" multiple="" name="files">
                        </lf-ng-md-file-input>
                    </div> -->
                    <div class="col-md-12">
                        <hr>
                        <md-button class="md-raised right wid btn-w-md md-primary" data-ng-click="closeform()" type="button">
                            Close
                        </md-button>
                        <md-button class="right wid md-raised btn-w-md md-primary" ng-click="submit_form()" type="button">
                            {{ add ? 'Save' : 'Update' }}
                        </md-button>
                        </hr>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <md-card>
        <md-content flex="" layout="column">
            <md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
                <div class="md-toolbar-tools">
                    <span>
                        {{title}} Info
                    </span>
                    <span flex="">
                    </span>
                    <md-button class="md-icon-button" ng-click="resettable()">
                        <md-tooltip>
                            Refresh
                        </md-tooltip>
                        <md-icon>
                            refresh
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="activefilter=!activefilter;showsearch = false">
                        <md-tooltip>
                            Filters
                        </md-tooltip>
                        <md-icon>
                            filter_list
                        </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="showsearch = !showsearch;activefilter = false">
                        <md-tooltip>
                            Search
                        </md-tooltip>
                        <md-icon>
                            search
                        </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar aria-hidden="false" class="md-table-toolbar md-default" ng-show="showsearch">
                <div class="md-toolbar-tools">
                    <form class="flex">
                        <md-input-container class="md-block" flex="100">
                            <input class="searchmrg" ng-model="searchFish" placeholder="Search">
                            </input>
                        </md-input-container>
                    </form>
                </div>
            </md-toolbar>
            <md-whiteframe layout="row" ng-repeat="single in multisearch" ng-show="activefilter">
                <div class="md-toolbar-tools mrg1">
                    <md-input-container flex="40">
                        <label>
                            Column
                        </label>
                        <md-select ng-change="updateDataTable()" ng-model="single.column">
                            <md-optgroup label="Column">
                                <md-option ng-repeat="column in autocolumn" ng-value="column.name">
                                    {{column.display}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block searchmrg" flex="40">
                        <label>
                            Search
                        </label>
                        <input ng-change="updateDataTable()" ng-model="single.ident">
                        </input>
                    </md-input-container>
                    <md-button class="md-raised right wid btn-w-md md-warn h40" ng-click="deleteRow(single.id)" ng-disabled="multisearch.length == 1" type="button">
                        <md-tooltip>
                            Remove Filter
                        </md-tooltip>
                        Remove
                    </md-button>
                    <md-button class="md-raised right wid btn-w-md md-primary h40" ng-click="addRow()">
                        <md-tooltip>
                            Add Filter
                        </md-tooltip>
                        Add
                    </md-button>
                </div>
            </md-whiteframe>
            <md-table-container>
                <table md-table="">
                    <md-progress-linear md-mode="indeterminate" ng-show="!wwstatus">
                    </md-progress-linear>
                    <thead md-head="" md-order="query.order">
                        <tr md-row="">
                            <th md-column="" md-order-by="{{column.name}}" ng-repeat="column in autocolumn">
                                <span>
                                    {{column.display}}
                                </span>
                            </th>
                            <th md-column="">
                                <span>
                                    Actions
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body="">
                        <tr md-auto-select="" md-row="" md-select="row" md-select-id="name" ng-repeat="vim in datatable.data |filter : searchFish | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell="">
                                {{vim.case_id}}
                            </td>
                            <td md-cell="">
                                <div ng-repeat="user in customers | filter:{'id':  vim.cust_id}:true">
                                    {{user.name }}
                                </div>
                            </td>
                            <td md-cell="">
                                {{vim.open_dt}}
                            </td>
                            <td md-cell="">
                                {{case_types[vim.status]}}
                            </td>
                            <td md-cell="">
                                <div ng-repeat="user in users | filter:{'user_id':  vim.taken_by}:true">
                                    {{vim.user_id}} {{user.last_name }} {{user.first_name }}
                                </div>
                            </td>
                            <td md-cell="">
                                <md-button aria-label="mode_edit" class="md-icon-button md-primary" data-ng-click="update_info(vim.case_id)">
                                    <md-tooltip>
                                        Edit
                                    </md-tooltip>
                                    <md-icon class="material-icons">
                                        mode_edit
                                    </md-icon>
                                </md-button>
                                <md-button aria-label="visibility" class="md-icon-button" data-ng-click="view(vim.case_id)">
                                    <md-tooltip>
                                        View
                                    </md-tooltip>
                                    <md-icon class="material-icons">
                                        visibility
                                    </md-icon>
                                </md-button>
                                <md-button aria-label="delete_forever" class="md-icon-button md-warn" data-ng-click="delete(vim.case_id)">
                                    <md-tooltip>
                                        Delete
                                    </md-tooltip>
                                    <md-icon class="material-icons">
                                        delete_forever
                                    </md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-boundary-links="options.boundaryLinks" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-page-select="options.pageSelect" md-total="{{datatable.data.length}}">
            </md-table-pagination>
        </md-content>
    </md-card>
</section>



